// bower:scss
// endbower

@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/and_black.woff") format('woff'),
       url("fonts/and_black.ttf") format('truetype');
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
}

::selection {
  background: #80DEEA; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #80DEEA; /* Gecko Browsers */
}

/*
  .android-navigation-container {
    direction: rtl;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
*/

.logo-image{
    width: 35px;
}
.logo-image-long{
    width: 150px;
}

.title{
    margin-left: 10px;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #010101;
}
.android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #9E9E9E;
}


.gdg-header .mdl-navigation__link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}
.social-btn__twitter{
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png');
    background-size: contain;
}

.social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png');
}

.social-b:hover path{
    fill:red!important;;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }
  .mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

#main{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.main-cont-cont{
    width: 80%;
    margin-bottom: 30px;
}


/* Conducta */

.main-viewContainer-codigo{
    padding-left: 10%;
    padding-right: 10%;
}

.posted-info{
    border-bottom: 1px black solid;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.post-content-codigo{
    text-align: justify;
    text-justify: inter-word;
}


/* eventos */

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/background2.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}